.main {}

.main-top {
    width: 100%;
    height: 250px;
    background: url(../assets/imgs/bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-top .title {
    font-size: 36px;
    font-weight: 700;
}

.main-top .sub-title {
    font-size: 18px;
    font-size: 400;
    margin-top: 40px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 40px;
}

.information-left {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.information-left p {
    width: 50%;
    margin-top: 20px;
}

.information-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.information-right .concat-box {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-right .concat-box span {
    margin-top: 16px;
}


.introduce {
    background: url(../assets/imgs/bg1.webp);
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduce-left {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.introduce-left .title {
    font-size: 24px;
    padding-bottom: 8px;
    border-bottom: 3px solid rgb(16 66 145);
}

.content-list {
    margin-top: 16px;
}

.content-list p {
    color: rgb(119, 119, 119);
    font-size: 14px;
    line-height: 30px;
}

.introduce-right {
    margin-left: 20px;
}

.experience {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-box .title {
    font-size: 18px;
    font-weight: 700;
}

.experience-box ul li {
    font-size: 14px;
    color: rgb(119, 119, 119);
    font-weight: 500;
    margin-top: 12px;
}

.experience-box ul li:before {
    content: "\2022";
    color: #148AE0;
    font-size: 16px;
}